@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto+Serif:ital,opsz,wght@0,8..144,100;0,8..144,200;0,8..144,300;0,8..144,400;0,8..144,500;0,8..144,600;0,8..144,700;0,8..144,800;0,8..144,900;1,8..144,100;1,8..144,200;1,8..144,300;1,8..144,400;1,8..144,500;1,8..144,600;1,8..144,700;1,8..144,800;1,8..144,900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,1000&display=swap');

/* font families
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Roboto Mono', monospace;
font-family: 'Roboto Serif', serif;
font-family: 'Roboto Slab', serif;

roboto and montserrat should supposedly go well together

font-family: 'Nunito Sans', sans-serif;
*/

:root {
    /*Colors*/
    --background-color: #191c1d;
    --on-background-color: #e1e3e4;
    
    --surface--color: #40484b;
    --on-surface--color: #bfc8cc;

    --outline-color: #899296;

    --navbar-color: #1d333b;

    --primary-color: #5ad5f9;
    --on-primary-color: #003542;
    --primary-container-color: #004e5f;
    --on-primary-container-color: #b4ebff;

    --secondary-color: #b3cad4;
    --on-secondary-color: #1d333b;
    --secondary-container-color: #344a52;
    --on-secondary-container-color: #cee6f0;
    --secondary-highlight-color: #cee6f0;

    --teritary-color: #c2c4eb;
    --on-teritary-color: #2b2e4d;
    --teritary-container-color: #414465;
    --on-teritary-container-color: #e0e0ff;
    --teritary-highlight-container-color: #e4e4ff;
}

.light-mode {
    /*Colors*/
    --background-color: #fbfcfe;
    --on-background-color: #191c1d;

    --surface--color: #dbe4e8;
    --on-surface--color: #40484b;

    --outline-color: #70787c;

    --navbar-color: #b4ebff;

    --primary-color: #5ad5f9;
    --on-primary-color: #001f27;
    --primary-container-color: #b4ebff;
    --on-primary-container-color: #001f27;

    --secondary-color: #4c626a;
    --on-secondary-color: #ffffff;
    --secondary-container-color: #cee6f0;
    --on-secondary-container-color: #071e25;
    --secondary-highlight-color: #092932;

    --teritary-color: #595c7e;
    --on-teritary-color: #ffffff;
    --teritary-container-color: #e0e0ff;
    --on-teritary-container-color: #161937;
    --teritary-highlight-container-color: #1a1d42;
}

/*Icon for "new page" in the cards & light/darkmode*/
.material-symbols-outlined {
    vertical-align: middle;
}


/*General/misc/other*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-color);
    color: var(--on-background-color);
}

.container {
    max-width: 1280px;
    width: 90%;
}

.hoverable {
    transition-duration: 0.3s;
    transition-timing-function: ease;
    box-shadow: 5px 10px 30px 2px rgba(0, 0, 0, 0.25);
}

.hoverable:hover {
    transform: scale(1.02);
}

.hoverable:active {
    scale: 0.962;
}

#theme-toggle {
    color: var(--secondary-color);
}

#theme-toggle:hover {
    color: var(--on-secondary-highlight-color);
    transition-duration: 0.5s;
    transform: scale(1.05);
    cursor: pointer;
}

/*This is for the faded color strip at the top of the screen. Had to make it outside the nav and main container
to get it to stretch across the entire screen*/
.nav-color-fade {
    width: 100%;
    height: 80px;
    background-image: linear-gradient(to top, rgba(255, 0, 0, 0), var(--navbar-color));
    position: absolute;
    z-index: -1;
}

/*Navigation*/
.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0.5rem 10%;

}

.navbar ul {
    display: flex;
    list-style-type: none;
}

.navbar ul li {
    padding: 1em 1.5em;
}

.nav-menu {
    transition-duration: 1s;
    transition-timing-function: ease;
}

.nav-menu a {
    text-decoration: none;
    color: var(--secondary-color);
    transition-timing-function: ease;
}

.nav-menu a:hover {
    color: var(--on-secondary-highlight-color);
    font-weight: 550;

    transition-duration: 0.3s;
    transform: scale(1.5);
}

.nav-menu a:active {
    transition: 0.1s;
    scale: 0.985;;
}

#logo img{
    align-self: flex-start;
    width: 50px;
    height: auto;
}

.active-page {
    border-bottom: 2px solid var(--primary-color);
}

.nav-menu .active-page {
    color: var(--primary-color);
    font-weight: 550;
}

.nav-menu .active-page:hover {
    border-bottom: 2px solid var(--secondary-highlight-color);
}

#hire-me-button {
    background-color: var(--teritary-container-color);
    color: var(--on-teritary-container-color);
    border-radius: 3vmin;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    padding: 0.7rem;
    box-shadow: 5px 10px 30px 2px rgba(0, 0, 0, 0.25);
}

#hire-me-button:hover {
    color: var(--teritary-highlight-container-color);
}

#hire-me-button:active {
    scale: 0.92;
    background-color: var(--on-teritary-color);
    color: var(--teritary-color);
}

#nav-toggle {
    display: none;
}

.hamburger-menu {
    display: none;
}

@media (max-width: 800px) {
    .hamburger-menu {
        display: flex;
        position: absolute;
        right: 5%;
        top: 2%;
        font-size: 25px;
        z-index: 2;
    }

    .nav-menu {
        display: flex;
        flex-direction: column;
        position: fixed;
        z-index: 2;
        left: 0;
        right: 0;
        top: 0;
        bottom: 100%;
        text-align: center;
        background-color: rgba(25, 28, 29, 0.95);
        overflow: hidden;
        transition: all 0.5s;
    }

    #nav-toggle:checked~.nav-menu {
        background-color: rgba(25, 28, 29, 0.95);
        padding-top: 6em;
        bottom: 0;
    }

    .navbar {
        flex-direction: column-reverse;
        align-items: center    
    }

    #logo {
        align-self: flex-start;
        margin-top: -2.5rem;
    }

    #theme-toggle {
        margin-top: 1rem;
    }


}



/*Structure*/
.divider {
    height: 5rem;
}

.divider-bottom-border {
    margin: 5rem 0;
    border-bottom: 3px solid rgba(137, 146, 150, 0.05);
}


/*Buttons*/
.btn {
    text-decoration: none;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    font-size: 32px;
    padding: 16px;
    border-radius: 3vmin;
    border: none;
    background-color: var(--primary-color);
    color: var(--on-primary-color);
}

.btn:hover {
    scale: 1.04;
}

.btn:active {
    scale: 0.985;
    background-color: var(--primary-container-color);
    color: var(--on-primary-container-color);
}

/*Footer*/
footer {
    display: flex;
    flex-direction: column;
    margin-top: 35vh;
    margin-bottom: 1.5rem;
    /* background-color: #222628; */
}

/* .footer-color-fade {
    width: 100%;
    height: 80px;
    background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0), #1d333b);
    position: absolute;
} */



footer img {
    width: auto;
    height: 60px;
}

.img-links-container {
    width: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.img-links-container ul {
    margin: 0;
    padding: 0;
}

.social-link {
    text-decoration: none;
    font-size: 2rem;
    margin: 0 0.3rem;
    color: var(--on-background-color);
}

.img-button-container {
    display: flex;
    align-items: center;
}

.img-button-container .btn {
    font-size: 1.5rem;
    padding: 0.7rem;
    margin-left: 1rem;
}


#copyright-text {
    font-size: 0.7rem;
    margin-top: 0.5rem;
    color: var(--on-surface--color);
    align-self: center;
}


/*Modals*/
.modal {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, .3);

    transition: all .4s;
    z-index: 3;
}

.modal:target {
    visibility: visible;
    opacity: 1;
}

.modal-content {
    border-radius: 3vmin;
    position: relative;
    width: 70%;
    max-width: 90%;
    background: var(--teritary-container-color);
    opacity: 0.95;
    color: var(--on-teritary-container-color);
    font-size: 24px;
    padding: 1em 2em;
}

.modal-close {
    position: absolute;
    font-size: 2.5rem;
    top: 5%;
    right: 3%;
    text-decoration: none;
    color: var(--teritary-highlight-container-color);
}

/*Easter eggs*/
.BgEasterEggStyle {
    background-image: url("https://i.gifer.com/1Jk.gif");
    background-size: contain;
}

.ee-modal {
    display: none;
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.ee-modal-content {
    width: 30%;
    background-color: var(--teritary-container-color);
    margin: 15% auto;
    padding: 2rem;
    border-radius: 2vmin;
    font-size: 3rem;
    text-align: center;
}

#ee-modal-close {
    color: var(--on-teritary-container-color);
    float: right;
    font-size: 2rem;
    font-weight: bold;
}

#ee-modal-close:hover,
#ee-modal-close:focus {
    color: var(--teritary-highlight-container-color);
    font-weight: 900;
    text-decoration: none;
    cursor: pointer;
}

/*EE Modal responsitivity*/
@media (max-width: 700px) {
    .ee-modal-content{
        width: 60%;
    }
}

@media (max-width: 400px) {
    .ee-modal-content {
        width: 80%;
    }
}


@media print {

    :root {
        /*Set print colors to match the light mode*/
        --background-color: #fbfcfe !important; 
        --on-background-color: #191c1d !important;

        --surface--color: #dbe4e8 !important;
        --on-surface--color: #40484b !important;

        --outline-color: #70787c !important;

        --navbar-color: #b4ebff !important;

        --primary-color: #5ad5f9 !important;
        --on-primary-color: #001f27 !important;
        --primary-container-color: #b4ebff !important;
        --on-primary-container-color: #001f27 !important;

        --secondary-color: #4c626a !important;
        --on-secondary-color: #ffffff !important;
        --secondary-container-color: #cee6f0 !important;
        --on-secondary-container-color: #071e25 !important;
        --secondary-highlight-color: #092932 !important;

        --teritary-color: #595c7e !important;
        --on-teritary-color: #ffffff !important;
        --teritary-container-color: #e0e0ff !important;
        --on-teritary-container-color: #161937 !important;
        --teritary-highlight-container-color: #1a1d42 !important;
    }

    /* All print related styles to be added here */
    header,
    footer,
    nav,
    .nav-color-fade,
    .divider,    
    #logo,
    #theme-toggle,
    .card::after{
        display: none !important;
    }
    
}

