/*variables*/
:root {
    /*for the animation*/
    /*number of items*/
    --i: 7;
    /*height of the container*/
    --h: 159;

    --speed: 3s;

    /*Colors*/
    --background-color: #191c1d;
    --on-background-color: #e1e3e4;

    --surface--color: #40484b;
    --on-surface--color: #bfc8cc;

    --outline-color: #899296;

    --primary-color: #5ad5f9;
    --on-primary-color: #003542;
    --primary-container-color: #004e5f;
    --on-primary-container-color: #b4ebff;

    --secondary-color: #b3cad4;
    --on-secondary-color: #1d333b;
    --secondary-container-color: #344a52;
    --on-secondary-container-color: #cee6f0;
    --secondary-highlight-color: #cee6f0;

    --teritary-color: #c2c4eb;
    --on-teritary-color: #2b2e4d;
    --teritary-container-color: #414465;
    --on-teritary-container-color: #e0e0ff;
    --teritary-highlight-container-color: #e4e4ff;
}

/*Hero section under nav bar and at top of screen*/
.hero {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.my-name {
    color: var(--primary-color);
    font-family: 'Nunito Sans', sans-serif;
    font-size: 8rem;
    font-weight: 900;
    margin-bottom: -2.8rem;
    z-index: 1; /*to make it so the title scrolls under the name*/
}

.title {
    color: var(--secondary-color);
    font-family: 'Roboto Mono', monospace;
    font-size: 7.5rem;
    font-weight: 700;
    letter-spacing: -10px;
}

/*Title scroll animation*/
.animation-container {
    overflow: hidden;
    height: 155px;
}

.animation-container ul {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;

    /*The duration of a single animation * the number of items which is the total animation duration*/
    animation: move calc(var(--speed) * var(--i)) steps(var(--i))infinite;
}

.animation-container ul li {
    list-style-type: none;
    width: 100%;
    padding-bottom: 30px 0;

    animation: liMove calc(var(--speed)) infinite;
}

@keyframes move {
    0% {
        transform: translate(0, 0);
    }
    100% {
        /*The height of a single li container * the number of carousels which is used to set the end value of the animation*/
        transform: translate(0, calc(var(--i) * var(--h) * -1px));
    }
} 

@keyframes liMove {
    0% {
        transform: translate(0, 0);
    }
    80%,
    100% {
        transform: translate(0, calc(var(--h) * -1px));
    }
}


/*Introduction section*/
.introduction {
    display: flex;
    flex-direction: column;
}

.introduction .pic-and-text-container{
    display: flex;
    align-items: center;
}

.introduction .pic-and-text-container img{
    width: 30%;
    height: auto;
    padding: 2rem;
    border-top-left-radius: 10vmin;
    border-top-right-radius: 20vmin;
    border-bottom-left-radius: 16vmin;
    border-bottom-right-radius: 12vmin;
    transition-duration: 0.7s;
    transition-timing-function: ease;
}

.introduction .pic-and-text-container img:hover{
    scale: 1.05;
    transform: rotate(6deg);
}

.introduction .pic-and-text-container p {
    text-align: center;
    padding: 2rem;
    font-size: 2rem;
}


.introduction .pic-button-container {
    display: flex;
    flex-direction: column;
}

.introduction .text-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hire-me-button-highlighted{
    text-decoration: none;
    position: absolute;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    font-size: 32px;
    padding: 16px;
    text-align: center;
    border-radius: 3vmin;
    border: none;
    background-color: var(--primary-color);
    color: var(--on-primary-color);
}

.hire-me-button-highlighted:hover {
    scale: 1.04;
}

.hire-me-button-highlighted:active {
    scale: 0.985;
    background-color: var(--primary-container-color);
    color: var(--on-primary-container-color);
}


/*Recent work section*/
/*Cards*/
/*NOTE: Card colors are hard coded so they wont switch when changing to light mode*/
.card-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-section .btn {
    display: flex;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1280px;
    gap: 25px;
    margin-bottom: 1.5rem;
}

.card-object {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    width: 300px;
    height: 60vh;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    box-shadow: 0 10px 40px 5px rgba(0, 0, 0, 0.5);
    color: #e1e3e4;    
    background-color:#191c1d;
}

/*Creates a shadow gradient effect at the bottom of the card to make the text easier to read*/
.card::after {
    content:"";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 30%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
    z-index: 1;
}

.card img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.9;
    transition: opacity 0.2s ease-out;
}

.card h2 {
    position: absolute;
    inset: auto auto 30px 30px;
    transition: inset 0.3s 0.3s ease-out;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    z-index: 2; /*To ensure the shadow effect at the bottom is behind the text*/
}

.card p, .card a {
    position: absolute;
    opacity: 0;
    max-width: 80%;
    transition: opacity 0.3s ease-out;
    z-index: 2; /*To ensure the shadow effect at the bottom is behind the text*/
}

.card p {
    inset: auto auto 80px 30px;
}

.card a {
    inset: auto auto 40px 30px;
    color: inherit;
    text-decoration: none;
    color: #5ad5f9;
}

.card:hover h2 {
    inset: auto auto 240px 30px;
    transition: inset 0.3s ease-out;;
}

.card:hover p, .card:hover a {
    opacity: 1;
    transition: opacity 0.5s 0.1s ease-in;
}

.card:hover img {
    opacity: 0.5;
    filter: grayscale(70%) blur(4px);
    transition: 0.3s ease;
}





/*Work experience & about me sections*/
.section-container, .section-container-no-background {
    display: flex;
    align-items: center;
    padding: 1.5rem;
}

.section-container {
    border-radius: 3vmin;
    background-color: var(--primary-container-color);
    color: var(--on-primary-container-color);
}

.text-container {
    width: 60%;
}

.section-container p, .section-container-no-background p {
    display: flex;
    align-self: flex-start;
    padding: 0.8rem 2rem;
    font-size: 1.4rem;
}

.reverse-flex {
    flex-direction: row-reverse;
}


.section-img-and-button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
}

.section-img-and-button-container img {
    border-radius: 2vmin;
    width: 100%;
    object-fit: cover;
}

.section-button {
    margin-top: 1rem;
}

.section-header-text {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;

    text-transform: uppercase;
    font-size: 3rem;
    margin-bottom: 20px;
    margin-top: 100px;
}


/*Text highlight classes*/
.highlight-blue {
    color: var(--primary-color);
    font-weight: 500;
    font-style: italic;
    padding: 0 6px
}

.highlight-purple {
    color: var(--teritary-color);
    font-weight: 500;
    font-style: italic;
    padding: 0 6px
}

/* Responsivity */

@media (max-width: 1100px) {
    html {
        font-size: 0.9rem;
    }

}

@media (max-width: 930px) {
    html {
            font-size: 0.8rem;
    }

    .title {
        font-size: 7rem;
    }

    /*Hero*/
    :root {
        /*Change height of animation scroll*/
        --h: 120;
    }

    .animation-container {
        overflow: hidden;
        height: 124px;
    }
}


@media (max-width: 800px) {
    html {
        font-size: 0.95rem;
    }

    /*Introduction*/
    .my-name {
        font-size: 5rem;
        margin-bottom: -1.8rem;
    }

    .title {
        font-size: 4rem;
        letter-spacing: -7px;
    }

    /*Hero*/
    :root {
        /*Change height of animation scroll*/
        --h: 80;
    }

    .animation-container {
        overflow: hidden;
        height: 79px;
    }


    /*About me and work experience*/
    .section-container {
        flex-direction: column;
    }

        
    .section-container-no-background {
        flex-direction: column-reverse;
    }

    .section-img-and-button-container {
        width: 100%;
    }

    .text-container {
        width: 100%;
    }
}

@media (max-width: 800px) {
    .introduction .pic-and-text-container {
        flex-direction: column-reverse;
    }

    .introduction .pic-and-text-container img {
        width: 45%;
    }
}


@media (max-width: 656px) {
    .card {
        width: 600px;
    }
}

@media (max-width: 600px) {
    
    /*Hero*/
    :root {
        /*Change height of animation scroll*/
        --h: 59; 
    }

    .animation-container {
        overflow: hidden;
        height: 52px;
    }

    
    .my-name {
        font-size: 4rem;
        margin-bottom: -1.45rem;
    }

    .title {
        font-size: 3.8em;
        letter-spacing: -3px;
    }
    
    /*Introduction*/
    .introduction a {
        font-size: 2rem;
    }

    .introduction .pic-and-text-container img {
        width: 80%;
    }

    /*Cards*/
    .card-section a {
        font-size: 1.5rem;
    }

    .card {
        width: 280px;
    }

    html {
        font-size: 0.7rem;
    }

    /*About me and work experience*/
    .section-container, .section-container-no-background p{
        padding: 0.8rem 0.;
    }
   
    .section-img-and-button-container {
        width: 100%;
    }

    .text-container {
        width: 100%;
    }

    .container {
        width: 90%;
        margin: auto;
    }

    footer .img-links-container .img-button-container a {
        font-size: 1.2rem;
    }
    
}

@media (max-width: 480px) {

    /*Hero*/
    :root {
        /*Change height of animation scroll*/
        --h: 33;
    }

    .animation-container {
        overflow: hidden;
        height: 33px;
    }


    .my-name {
        font-size: 2.5rem;
        margin-bottom: -1rem;
    }

    .title {
        font-size: 2.2rem;
        letter-spacing: -3px;
    }
}

@media print {

    .my-name {
        font-size: 4.2rem;
        margin-bottom: -2rem;
        margin-top: 1rem;
    }

    .title {
        font-size: 4rem;
        letter-spacing: -5px;
    }

    .card {
        width: 40vw;
        height: 30vh;
    }

    #work-experience {
        margin-top: 20vh;
        padding-top: 0.2vh;
    }

    #about-me {
        padding-top: 0.2vh;
    }

    /* Stops the animation */
    .animation-container,
    .animation-container ul,
    .animation-container ul li {
        animation: none !important;
        position: static !important;
    }

    /* Hide all list items initially */
    .animation-container ul li {
        display: none;
    }

    /* Only display the first item */
    .animation-container ul li.title:first-child {
        display: block !important;
    }
}